<?php
/* Nouvelle Donne -- Copyright (C) Perrick Penet-Avez 2014 - 2014 */

$config['name'] = "Consultations Nouvelle Donne";
$config['title'] = "consultations";
$config['version'] = "7";
$config['url'] = "http://localhost/~perrick/nouvelledonne-consultations/consultations/www/";
$config['layout_mediaserver'] = "";
$config['email_send'] = "0";
$config['smtp_host'] = "";
$config['smtp_port'] = "25";
$config['smtp_user'] = "";
$config['smtp_password'] = "";

$dbconfig['type'] = "mysql";
$dbconfig['host'] = "localhost";
$dbconfig['name'] = "nouvelledonne";
$dbconfig['user'] = "root";
$dbconfig['pass'] = "";
$dbconfig['new'] = "1";

$bigficheconfig['type'] = "mysql";
$bigficheconfig['host'] = "localhost";
$bigficheconfig['name'] = "bigfiche_nd";
$bigficheconfig['user'] = "root";
$bigficheconfig['pass'] = "";
$bigficheconfig['new'] = "1";

$param['locale_timezone'] = "Europe/Paris";
$param['preparation_secret'] = "xxx";
$param['preparation_email'] = "perrick@noparking.net";
